.wrapper { 
	width:100%; 
	min-height:400px; 
	position:relative; 
	overflow:hidden; 
}
#container { 
	height:420px; 
	overflow-x:visible; 
	width: 938px;  
	margin:0 auto; 
	position:relative; 
}
.panel { 
	background:#ccc; 
	float:left; 
	min-width: 908px; 
	height:400px; 
	margin:0 15px; 
	position: absolute;
	display: none;
}
.panel * {
	position: relative;
	z-index: 1;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.active { display: block; }
.prevSlide{left:-938px;}
.currentSlide{left:0px;}
.nextSlide{left:938px;}
.cf { clear: both; }
.imgLink { display: block; float:right; }
.btn { min-width: 30px; min-height: 30px; background: #666; position: absolute; z-index: 2;}
.nextBtn { right: -30px; top:150px; }
.prevBtn { left: -30px; top:150px; }
.fl { float: left; }
.nav { position: absolute; bottom:0; width:100%; text-align: center; }
.nav ul { margin:0 auto; }
.nav li { font-size: 20px; width:20px; }
